$hamburger-size: 60px;

@import "../../scss/hamburgers.scss";
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";

$text-font:		'Montserrat', sans-serif;
$header-font: 	'Dancing Script', serif;
$color-primary: #C2BFB6;

html, body {
	font-size: 14px;
	color: #000;
	font-family: $text-font;
	font-weight: 300;
	line-height: 2;
}

h1 {
	font-family: $header-font;
	font-weight: 700;
	color: $color-primary;
	font-size: 6rem;

	@include media-breakpoint-up(md) {
		font-size: 8rem;
	}

	@include media-breakpoint-up(xl) {
		font-size: 10rem;
	}
}

h3 {
	font-family: $text-font;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1.1em;

	@include media-breakpoint-up(md) {
		font-size: 1.3em;
	}

	@include media-breakpoint-up(xl) {
		font-size: 1.4em;
	}
}

a {
	color: #000;
	border-bottom: 1px dotted #000;
    text-decoration: none;

	&:hover, &:focus, &:active {
	    text-decoration: none;
	    color: #292b2c;
	}
}

.title {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;

	@include media-breakpoint-up(md) {
		margin-top: 5em;
		margin-bottom: 5em;
	}

	h3 {
		margin-top: .5em;
	}
}

.intro {
	text-align: center;
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: 2em;

	@include media-breakpoint-up(md) {
		font-size: 1.4em;
	}
}

@mixin nice-middot() {
	span {
		margin-left: .4em;
		margin-right: .4em;
	}

	@include media-breakpoint-up(md) {
		span {
			margin-left: .8em;
			margin-right: .8em;
		}
	}
}

.links {
	margin-top: 2em;
	font-size: .7em;

	@include nice-middot();

	@include media-breakpoint-up(md) {
		margin-top: 4em;
	}
}

.menu {
	text-align: center;
	margin-top: 3em; 

	.the-menu {
		margin-bottom: 3em;
	}

	@include media-breakpoint-up(md) {
		margin-top: 5em;
	}

	.item {
		margin-bottom: 30px;

		.frame {
			padding: 3em 5px 2em 5px;
			border: 2px #000 solid;	

			@include media-breakpoint-down(xs) {
				margin-right: 15px;
				margin-left: 15px;
			}

			h3 {
				font-size: 1em;
				margin-top: 2em;
			}
		}
	}
}

.fun-stuff {
	font-size: 1em;
	margin-bottom: 1em;
	text-align: center;

	@include nice-middot();

	@include media-breakpoint-up(sm) {
		text-align: right;
	}
}

footer {
	text-align: center;
	margin-top: 3em;

	@include media-breakpoint-up(md) {
		margin-top: 7em;
	}

	.background {
		background-color: #fafafa;
	}

	p {
		font-size: 1.2em;
		
		@include media-breakpoint-up(md) {
			font-size: 1.4em;
		}
	}

	h3 {
		color: $color-primary;
		margin-bottom: 1em;
	}

	a.npm {
		border-bottom: 0;
	}

	.content {
		padding-top: 5em;
		padding-bottom: 5em;
	}
}

.copyright {
	@include nice-middot();
	text-align: center;

	p {
		color: $color-primary;
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 1em;

		@include media-breakpoint-up(md) {
			font-size: 1em;
		}
	}

	iframe {
		position: relative;
		top: .45em;
	}
}