<meta property="og:title" content="{{ site.title | escape }}">
<meta property="og:image" content="https://kapoko.github.io/delicious-hamburgers/gh-pages/images/facebook-og.png">
<meta property="og:description" content="{{ site.description | escape }}">
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/png" />
<meta property="og:url" content="{{ site.url | escape }}" />
<meta property="og:type" content="website" />